.w-wrapper {
    padding: 0rem 4rem;
    margin-top: 4rem;
    padding-top: 3rem;
}

@media screen and (max-width: 480px) {
    .w-wrapper {
        padding: 0;
        margin-top: 18rem;
    }

    .w-wrapper>span:nth-child(1),
    .w-wrapper>span:nth-child(2) {
        margin-left: 0.5rem;
    }
}