.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    /* position: relative; */
    margin-top: -10rem;
    z-index: -1;
    
}

.f-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8rem;
    gap: 1rem;
    color: white
}

.f-icons {
    display: flex;
    gap: 2rem;
}

#top-arrow {
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .footer {
        margin-top: 0 !important;
    }

    .footer>img {
        transform: scale(2);
    }

    .f-content {
        transform: scale(0.5);
        margin-bottom: 6rem;
        left: 0rem;
    }
}

@media screen and (max-height: 480px) {
    .footer {
        height: 18rem;
    }

    .f-content {
        margin-top: 17rem;
    }

    .footer>img {
        margin-top: 10rem;
    }
}