.t-wrapper {
    padding: 0rem 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    gap: 2rem;
    position: relative;
}

.t-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-heading>* {
    font-size: 2rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2) {
    color: var(--orange);
}

.t-blur1 {
    top: 16rem;
    left: 38rem;
}

.t-blur2 {
    top: 9rem;
    left: 0;
}

.testimonial {
    padding: 2px;
    width: 30rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0, 26);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 1rem;
}

.testimonial>img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}

.testimonial>span {
    color: var(--gray);
    text-align: justify;
}

.testimonial>:nth-child(3) {
    font-size: small !important;
}

.testimonial>:nth-child(4) {
    font-size: medium !important;
}

.t-wrapper .swiper {
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    border: 1px solid white;
}

.t-wrapper .swiper-pagination-bullet-active {
    background: var(--orange);
}


@media screen and (max-width: 480px) {
    .t-wrapper {
        padding: 0;
        gap: 0rem;
        margin: 0;
    }

    .t-heading {
        flex-direction: column;
    }
}